/* @import './base.css'; */
@import './transition.min.css';

@font-face {
  font-family: 'QuranTaha';
  src: url('./Quran_Taha.woff2');
}
@font-face {
  font-family: 'IranSans';
  src: url('./IRANSansWeb-FaNum.woff');
}

* {
  direction: rtl;
}

html,body,#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

